<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>As a girlfriend to a boy who is stuck in perpetual GAS, it's hard for me to keep track of the guitars he buys/trades/sells/idek, so I made this app for any non-musician to keep track of your musician SO's questionable collection habits.</p>

    <form action="/" method="post">
      <input type="text" name="newguitar">
      <input type="submit">
    </form>


  </body>
</html>
