body {
  background: url("assets/bg.jpg");
  color: white;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

.keys {
  margin-top: 35%;
}

.key {
  transform: scale(1);
  width: 8.5%;
  float: left;
  margin: 5px 15px 5px 15px;
}
.troops {
  width: 60px;
  display: inline-block;
  text-align: center;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
}
